a {
    font-size: 32px;
}
a:hover {
    background-color: #EDF5E1;
    color: #05386B;
}
a:active {
  background-color: #379683;
  color: #EDF5E1;
}
body {
    background-color: #5CDB95;
    color: #EDF5E1;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}
h1 {
    background-color: #05386B;
    font-size: 64px;
    color: #EDF5E1;
}
h2 {
   font-size: 128px;
    color:#379683;
}
header {
    background-color: #05386B;
}
header::after {
    content:'';
    display: table;
    clear: right;
}
nav {
    float: right;
}
nav a {
    color: #EDF5E1;
    text-decoration: none;
    text-transform: uppercase;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-right: 25px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.description {
  font-size: 24px;
}
.Courses {
    font-size: 48px;
    color: darkblue;
}
.Home{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}
.link {
  font-size: 36px;
  color: #379683;
}
.link:hover {
  background-color: #8EE4AD;
  color: #05386B;
}
.link:active {
  background-color: #5CDB95;
  color: #05386B;
}
.Project {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    grid-gap: 100px;
}
.text {
    color: #05386B;
    font-size: 22px;
    font-family: 'open sans', sans-serif;
    line-height: 2;
    max-width:500px;
    height: 100px;
}
.wrap {
    display: flex;
    justify-content: space-around;
}
#CM {
    font-size: 48px;
    color: #05386B;
}
#Resume {
    font-size: 48px;
    color: #05386B;
}
